@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Balow Condensed", sans-serif;
  background-color: khaki;
}

header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  position: relative;
}

header a.active {
  color: rgb(15, 95, 233);
}

header a:first-of-type {
  margin-left: auto;
}

header a:not(:last-child) {
  padding-right: 20px;
}

header a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background-color: #000;
}

footer {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #000;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#book-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  margin-bottom: 45px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#add-book {
  margin-left: auto;
  background-color: transparent;
}

.kitab {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.kitab:nth-child(odd) {
  background-color: #d3d3d3;
}

.identity-book {
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
}

.kitab h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.creator {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.delete {
  margin-left: auto;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  margin-bottom: 10px;
  border: 2px solid #000;
  padding: 5px 10px;
}

.addtext {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-top: 40px;
}

.add-block {
  visibility: hidden;
  position: absolute;
}

.contactsection {
  visibility: hidden;
  position: absolute;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
